*{margin: 0;padding: 0;}
:root{
    --title-font-size:20px;
    --size1-font-size:15px;
}
html{
    font-size: 14px;
    height: 690px;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(/image/background1.jpg);
    background-size: cover;
    position:relative;
}
a{text-decoration: none;color: aliceblue;}
li{list-style: none;}
main{
    position: relative;
    top: 20px;
    left: 20px;
    width: 1285px;
    height: 650px;
    background-color:#1d0b3151;
    border-radius: 5px;
    display: flex;
}
.section1{
    width: 185px;
    border-right: 1px solid #2D142A;
}
.section1 .logo a{
    background-image: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 30px;
  
}
.left{
    margin-left: 15px;
    margin-top: 10px;
}
.left .menu{
    margin-top: 15px;
}
.left .menu ul li i{margin-right: 5px;}
.left .menu ul li{
    padding: 5px 10px;
}
.left .menu ul li:hover a{
    color: #662e6d;
    transition: 0.4s;
}
/* End section1 */


.section2{
    width: 1100px;
    height: 2050px;
}
.section2 .header{
    width: 1100px;
    height: 50px;
    background: linear-gradient(to top, #1f0b3625, #260c3b69);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section2 .header .search input{
    padding-left: 12px;
    font-size: 12px;
    color: rgba(181, 228, 255, 0.555);
    border: none;
    background-color: #1306173f;
    width: 300px;
    height: 30px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
input:focus{outline: none;}
.section2 .search input:hover{
    background-color: #13061762;
}
.section2 .search button:hover{
    background-color: #13061762;
    color: rgb(121, 43, 209);
}
.section2 .search button{
    width: 30px;
    height: 30px;
    margin-left: -4px;
    background-color: #1306173f;
    border: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    
}
.login a:hover{
    font-size: 16px;
    color: #7d559ea8;
    background:linear-gradient(to top, #572652e0, 10% , #4c295000);
}
.login a{
    padding: 10px 20px;
    color: #160823a8;
    font-size: 16px;
    border-radius: 3px;
    transition: 0.4s;
}



/* Home */
.main::-webkit-scrollbar{
    width: 5px;
}
.main{
    width: 1100px;
    overflow: auto;
    height: 600px;
    overflow-x: hidden;
}
.main .home{
    width: 1100px;
    height: 2000px;
}
.main .home .home2{
    width: 1100px;
    height: 315px;
}
.main .home .home2 .title h1{font-weight: 490;}
.main .home .home2 .title{
    color: white;
    margin: 10px 10px 10px 15px;
}
.main .home .home2 .slide{
    display: flex;
    justify-content: space-evenly;
}
.main .home .home2 .slide .item{
    width: 200px;
    height: 260px;
    border-radius: 5px;
    border: 1px solid #2D142A;
    position: relative;
    overflow: hidden;
}
.main .home .home2 .slide .item:hover > a > img{
    filter: blur(3px);
}
.main .home .home2 .slide .item img{
    width: 200px;
    height: 260px;
    border-radius: 5px;
    position: absolute;
    transition: 0.4s;
}
.slide .item .information i{
    position: absolute;
    padding: 65px 65px;
    font-size: 70px;
    opacity: 0;
    color: rgba(80, 61, 90, 0.66);
    transition: 0.4s;
    transform: scale(0.6);
}
.slide .item:hover .information i{
    transition: 0.4s;
    opacity: 0.6;
    transform: scale(1);
}
.slide .item .information .name-music{
    display: flex;
    position: absolute;
    top: 210px;
    padding-left: 10px;
    padding-top: 3px;
    height: 50px;
    width: 200px;
    margin-top: 100px;
    background: linear-gradient(to top, #0000006d, #662e6d87);
    transition: 0.4s;
}
.slide .item:hover .information .name-music{margin-top: 0;}






/* Thanh Phát nhạc */
.play-music1{
    position: fixed;
    bottom: 1px;
    width: 1276px;
    margin-left: 26px;
    height: 70px;
    border-radius: 10px;
    background-color: #682189f6;
    filter: blur(3px);
    
}
.play-music{
    position: fixed;
    bottom: 1px;
    width: 1270px;
    margin-left: 30px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    
}
.play-music .music{
    position: relative;
    width: 250px;
    height: 65px;
    margin-left: 10px;
    display: flex;
}
.play-music .music img{

    width: 60px;
    height: 60px;
    margin-top: 5px;
    border-radius: 100px;
    animation: rotate 7s linear infinite;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
.play-music .stop{
    width: 350px;
    height: 65px;
    display: flex;
    justify-content: center;
}
.play-music .stop > ul{
    margin-top: 4px;
    width: 350px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.play-music .stop ul li a{
    color: rgba(255, 255, 255, 0.617);
    font-size: 16px;
    padding: 0 5px;
}
.on{opacity: 1;}
.off{opacity: 0;}
.play-music .play{}
.play-music .voice{}